# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.install-test
venv
build

# We don't want results to be committed
results/

Pipfile
Pipfile.lock

# Ignore caches
.pytest_cache/

*.pyc
*.pyo

.DS_Store

node_modules
package-lock.json
.vscode/